<h1>Tag-game</h1>
<button class="primary-btn red" (click)="mixUpCubes(inputMixUp.value)">Mix up</button>
<button class="primary-btn red" (click)="solveTag()">Solve</button>
<span class="text" [ngClass]="{'winner' : checkWin()}">You win</span>
<input type="text" class="form-control" value="50" #inputMixUp>
