@import '../global-style/global';
@import '../global-style/global-variables';



.winner {
  color: green;
  background: $primaryColor;
  font-size: 25px;
}

.text {
  margin: 0 30px 0 30px;
  font-size: 25px;
}
