@import 'global-style/global-variables';

h1 {
  text-align: center;
}

.winner{
  color: green;
  font-size: 20px;
}

.game {
  margin-top: 2px;
  padding: 10px;

  .cubes {
    display: grid;
    grid-template-rows: $sizeCube $sizeCube $sizeCube $sizeCube;
    grid-template-columns: $sizeCube $sizeCube $sizeCube $sizeCube;
    grid-gap: 0vw;
    justify-content: center;

    .cube {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $sizeCube;
      height: $sizeCube;
    }

    .active {
      background: $primaryColor;
    }
  }
}
