<div tabindex="0" class="container"
     (keydown.d)="moveRight()" (keydown.a)="moveLeft()"
     (keydown.w)="moveUp()" (keydown.s)="moveDown()"
     (keydown.arrowRight)="moveRight()" (keydown.arrowLeft)="moveLeft()"
     (keydown.arrowUp)="moveUp()" (keydown.arrowDown)="moveDown()">
  <app-tool></app-tool>
  <div class="game">
    <div class="cubes">
      <div class="cube" (click)="moveFromClickCubes(cube)" *ngFor="let cube of cubes" [ngClass]="{'active': cube.active}">
        <div *ngIf="cube.active">{{cube.id}}</div>
      </div>
    </div>
  </div>
</div>
