@import "global-variables";

.container {
  position: relative;
  display: block;
  max-width: 700px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
  outline: none;
  border-radius: 3px;
}
.container:focus {
  background: $secondaryColor;
}

.primary-btn {
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  padding: 6px 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;

  &.black {
    background: $secondaryColor;
    border: 2px solid $secondaryColor;

    &:hover {
      color: $secondaryColor;
      background: #ffffff;
    }
  }

  &.red {
    background: $primaryColor;
    border: 2px solid $primaryColor;

    &:hover {
      color: $primaryColor;
      background: #ffffff;
    }
  }
}



